@import 'styles/utils/variables.scss';
@import 'styles/utils/mixins/index.scss';
@import 'styles/common.blocks/button.scss';

.search-bar {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	margin-bottom: 17px;

	&__form {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__label {
		margin-right: 16px;
		@include text(14px, 500, 1.71, $third-text-color);
	}

	.react-select {
		width: 140px;
		height: 38px;
		margin-right: 16px;

		&__value-container,
		&__single-value,
		&__indicator,
		&__input-container {
			padding: 0;
			margin: 0;
		}

		&__indicator-separator {
			display: none;
		}

		&__control {
			position: relative;
			margin: 0px;
			padding: 7px 12px;

			@include text(14px, 500, 1.71, rgba($fourth-text-color, 0.45));

			border: 1px solid $second-border-color;
			border-radius: 6px;

			&--is-focused {
				box-shadow: none;
			}

			&--menu-is-open {
				border-radius: 6px 6px 0px 0px;

				&::after {
					content: '';
					position: absolute;
					bottom: 0%;
					left: 50%;
					transform: translateX(-50%);
					height: 1px;
					width: 116px;
					background-color: $second-border-color;
					border-radius: 6px;
				}
			}

			&:hover,
			&:focus,
			&:active {
				border: 1px solid $second-border-color;
			}
		}

		&__menu {
			margin-top: 0.5px;
			padding: 7px 12px;

			border-radius: 0px 0px 6px 6px;
			border: 1px solid $second-border-color;
			border-top: 0px;
			box-shadow: none;
		}

		&__option {
			padding: 0px;

			@include text(14px, 500, 1.71, rgba($fourth-text-color, 0.45));
			background-color: $main-bg-color;

			&--is-selected {
				color: rgba(59, 67, 96, 1);
			}

			&:not(:last-child) {
				margin-bottom: 8px;
			}

			&:active,
			&:hover,
			&:focus {
				background-color: $main-bg-color;
				color: rgba(59, 67, 96, 1);
			}
		}
	}

	&__input-wrapper {
		position: relative;
		margin-right: 16px;
	}

	&__input-svg {
		position: absolute;
		fill: #646B75;
		top: 50%;
		left: 14px;
		transform: translateY(-50%);
	}

	&__input {
		padding: 11px 0px 11px 40px;
		outline: none;

		font-family: inherit;
		@include text(12px, 500, 1.4, $primary-txt-color);

		border-radius: 6px;
		border: 1px solid $second-border-color;

		&::placeholder {
			color: $third-text-color;
		}

		&:hover,
		&:focus,
		&:active {
			border: 1px solid $auth-text-color;
		}
	}

	&__button {
		@extend .button;

		display: flex;
		align-items: center;
		padding: 7px 16px;

		border-radius: 6px;

		&-svg {
			margin-right: 6px;
			fill: $second-text-color;
		}

		&-text {
			@include text(14px, 500, 1.71, $second-text-color);
		}
	}
}