@import 'styles/utils/variables.scss';
@import 'styles/utils/mixins/index.scss';
@import 'styles/common.blocks/student-form.scss';

.entities-list__item {
	.students-course-select {
		width: 90%;

		@include text(16px, 700, 1.5, $primary-txt-color);

		&-container {
			position: relative;
			z-index: -1;
		}

		&__value-container,
		&__input-container {
			margin: 0;
			padding: 0;
		}

		&__indicator-separator {
			display: none;
		}

		&__control {
			background: transparent;
			border: none;

			&--is-focused {
				box-shadow: none;
			}

			&:hover,
			&:focus,
			&:active {
				border: none;
			}

		}

		&__menu {
			background-color: $primary-bg-color;
		}

		&__option {
			color: rgba($primary-txt-color, 0.45);
			background-color: transparent;

			&--is-selected {
				background-color: $main-bg-color;
				color: $primary-txt-color;
			}

			&:not(:last-child) {
				margin-bottom: 8px;
			}

			&:active,
			&:hover,
			&:focus {
				background-color: $main-bg-color;
				color: $primary-txt-color;
			}
		}
	}
}