.button {
	display: block;

	font-family: inherit;
	text-align: center;
	@include text(16px, 500, 1.5, $second-text-color);
	letter-spacing: 0.55px;

	cursor: pointer;
	border: none;
	background-color: $primary-accent-color;

	&_size_large {
		min-width: 376px;
		margin-bottom: 8px;
		padding: 16px;
	}

	&_interaction {
		transition: transform, $time-cubic-bezier;

		&:active {
			transform: scale(0.9);
		}
	}

	&_borderless {
		min-width: 376px;
		padding: 16px;

		color: $auth-third-text-color;
		background-color: transparent;
	}
}