.checkbox {
	position: relative;
	width: 20px;
	height: 20px;

	border: 1px solid $auth-input-color;
	border-radius: 3px;
	background-color: transparent;
	transition: background-color, $time-cubic-bezier;

	&__icon {
		position: absolute;
		width: 100%;
		height: auto;
		top: 0;
		left: 0;

		fill: #fff;
	}

	&_checked {
		background-color: $primary-accent-color;
		border-color: $primary-accent-color;
	}
}