.title-list,
.entities-list {
	list-style: none;
}

.title-list {
	display: grid;
	grid-template-columns: 2fr 2fr 3fr 4fr 1fr;
	gap: 15px;
	margin-bottom: 17px;
	padding: 0px 16px 0px 12px;

	&_students {
		grid-template-columns: 74px 2fr 2fr 3fr 1fr 3fr 2fr 1fr;

		&::before {
			content: ''
		}
	}

	&_courses {
		grid-template-columns: 3fr 4fr 2fr 2fr 1fr;
	}


	&_groups {
		grid-template-columns: 2fr 2fr;
	}

	.title-list__item {
		@include text(16px, 600, 1.5, $third-text-color);
	}
}

.entities-list {
	margin-bottom: 43px;

	&__item {
		display: grid;
		grid-template-columns: 2fr 2fr 3fr 4fr 1fr;
		gap: 15px;
		padding: 16px 16px 16px 12px;

		&:not(:last-of-type) {
			margin-bottom: 8px;
		}

		&_students {
			grid-template-columns: 74px 2fr 2fr 3fr 1fr 3fr 2fr 1fr;
			align-items: center;
			padding: 8px 16px 8px 12px;
		}

		&_courses {
			grid-template-columns: 3fr 4fr 2fr 2fr 1fr;
		}

		&_groups {
			grid-template-columns: 2fr 2fr;
		}

		background-color: $main-bg-color;
		border-radius: 6px;
	}

	&__photo {
		display: block;
		width: 40px;
		height: 40px;

		border-radius: 50%;
		object-fit: cover;
		overflow: hidden
	}

	&__text {
		@include text(16px, 700, 1.5, $primary-txt-color);
		text-align: left;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__button {
		width: 24px;
		height: 24px;
		margin-left: auto;

		border: none;
		background-color: transparent;
	}

	&__svg {
		fill: $edit-button-color;

		&:hover,
		&:active,
		&:focus {
			fill: $primary-accent-color;
		}
	}
}