.form {
	width: 376px;

	&__label {
		margin-bottom: 4px;

		@extend .disable-select;
		text-align: start;
		@include text(14px, 400, 1.71, $auth-text-color);

		&_m_0px {
			margin-bottom: 0px;
		}

		&_error {
			color: $error-text-color;
		}
	}

	&__show-password {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 18px;
		margin-bottom: 32px;

		cursor: pointer;

		&_mb_0px {
			margin-bottom: 0px;
		}
	}

	&__caption {
		margin-bottom: 32px;
		text-align: center;
		@include text(20px, 700, 1.6, $auth-second-text-color);

		&_align_left {
			text-align: left;
		}
	}

	&__input-wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-bottom: 32px;

		&_flex_row {
			flex-direction: row;
			justify-content: space-between;
		}

		&_m_0px {
			margin: 0;
		}
	}

	&__input {
		padding: 12px 16px;
		outline: none;

		font-family: inherit;
		@include text(15px, 400, 1.6, $auth-second-text-color);

		border: 1px solid $auth-input-color;
		background-color: transparent;

		&_error {
			border-color: $error-text-color;
		}

		&:hover,
		&:focus,
		&:active {
			border: 1px solid $auth-text-color;
		}

		&::-ms-reveal {
			display: none;
		}

		&::placeholder {
			color: $auth-placeholder-color
		}
	}

	&__error-text {
		position: absolute;
		bottom: -16px;

		font-size: 12px;
		color: $error-text-color;
	}

	&__error-icon {
		position: absolute;
		display: none;
		top: 53%;
		right: 4.5%;

		&_error {
			display: block;
		}
	}
}