 .overlay {
 	position: fixed;
 	top: 0;
 	left: 0;
 	right: 0;
 	bottom: 0;
 	background-color: rgba($color: #000000, $alpha: 0.20);
 }

 .modal {
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	padding: 86px 110px;

 	font-family: 'Lexend', sans-serif;
	background-color: $primary-bg-color;

 	&__close-button {
 		position: absolute;
 		top: 20px;
 		right: 20px;
 		padding: 3.5px;

 		border: none;
 		background-color: transparent;
 	}
 }