.rc-pagination {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	text-align: center;

	gap: 10px;


	&-prev,
	&-next,
	&-item {
		width: 20px;
		padding: 2px;
		cursor: pointer;
	}

	&-item-active {
		color: $second-text-color;
		border-radius: 50%;
		background-color: $primary-accent-color;
	}
}