.button {

	&_m_0px {
		margin: 0px;
	}

	&_disabled {
		background-color: rgba($primary-accent-color, 0.5);
	}
}

.form {
	&_student {
		position: absolute;
		right: 50%;

		display: flex;
		gap: 80px;

		padding-bottom: 75px;
	}

	&__photo-wrapper {
		display: flex;
		gap: 40px;

		margin-bottom: 32px;
	}

	&__replace-photo-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	&__replace-input-wrapper {
		position: relative;
		margin-bottom: 8px;

		cursor: pointer;
		background: $fifth-text-color;
	}

	&__replace-button {
		padding: 12px 58px;
		@include text(13px, 500, 1.23, $primary-txt-color);

		&_disabled {
			@include text(13px, 500, 1.23, rgba($primary-txt-color, 0.5))
		}
	}

	&__replace-input {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 168px;
		padding: 12px 58px;

		z-index: -100;
		background-color: transparent;
		color: transparent;
	}

	&__photo {
		display: block;
		width: 168px;
		height: 168px;

		object-fit: cover;
		border-radius: 50%;
		overflow: hidden;
	}

	&__upload-outter-circle {
		position: relative;
		width: 168px;
		height: 168px;
		border-radius: 50%;

		cursor: pointer;
		background: $upload-image-bg-color;
	}

	&__upload-inner-circle {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 51px;
		height: 51px;

		border-radius: 50%;
		color: $second-text-color;
		background-color: $primary-accent-color;
	}

	&__upload-svg {
		width: 32px;
		height: 32px;
		fill: $second-text-color;
	}

	&__upload-input {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 168px;
		height: 168px;

		padding: 40px;
		border-radius: 50%;

		z-index: -100;
		background-color: transparent;
		color: transparent;
	}

	&__photo-info {
		margin-top: auto;
		width: 176px;

		@include text(14px, 400, 1.71, $auth-text-color);

		&_m_0px {
			margin: 0;
		}
	}

	.student-select {
		width: 376px;
		position: relative;

		&-container {
			position: relative;
			z-index: -1;
		}

		&__value-container,
		&__single-value,
		&__indicator,
		&__input-container {
			padding: 0;
			margin: 0;
		}

		&__indicator-separator {
			display: none;
		}

		&__indicator {
			padding-right: 23px;
		}

		&__single-value {
			padding: 12px 16px;
			@include text(15px, 400, 1.6, $primary-txt-color)
		}

		&__control {
			background: transparent;
			border: 1px solid $second-border-color;

			&--is-focused {
				box-shadow: none;
			}

			&:hover,
			&:focus,
			&:active {
				border: 1px solid $auth-text-color;
			}

		}

		&__menu {
			background-color: $primary-bg-color;
		}

		&__option {
			@include text(15px, 400, 1.6, rgba($fourth-text-color, 0.45));
			background-color: transparent;

			&--is-selected {
				background-color: $main-bg-color;
				color: $primary-txt-color;
			}

			&:not(:last-child) {
				margin-bottom: 8px;
			}

			&:active,
			&:hover,
			&:focus {
				background-color: $main-bg-color;
				color: $primary-txt-color;
			}
		}
	}
}