.container {
	max-width: 1440px;
	padding-left: 70px;
	padding-right: 70px;
	margin-left: auto;
	margin-right: auto;
}

#root {
	height: 100vh;
}

.disable-select {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}