$main-bg-color: #FFFFFF;

$auth-text-color: #505E68;
$auth-second-text-color: #000000;
$auth-third-text-color: #2C343A;
$auth-input-color: #CAD2D6;
$auth-placeholder-color: #909FA9;

$primary-bg-color: #F8F8F8;
$upload-image-bg-color: #E4E0FF;
$border-color: #DEE0E5;
$second-border-color: #E4E7ED;

$primary-txt-color: #111112;
$second-text-color: #FFFFFF;
$third-text-color: #9F9FB6;
$fourth-text-color: #3B4360;
$fifth-text-color: #F3F5FA;

$edit-button-color: #BBB0C8;
$primary-accent-color: #7101FF;
$second-accent-color: #4B259B;


$error-text-color: #e74a3b;
$time-cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);