@import 'styles/utils/variables.scss';
@import 'styles/utils/mixins/index.scss';

.header {
	position: fixed;
	width: calc(100% - 260px);
	margin-left: 260px;

	font-family: 'Nunito', sans-serif;
	border-bottom: 1px solid $border-color;

	&_ml_0px {
		width: 100%;
		margin-left: 0px;
		border: none;
	}

	&__logo {
		width: 42px;
		height: 42px;
	}

	&__user-photo {
		width: 32px;
		height: 32px;

		border-radius: 50%;
	}

	&__title {
		@include text(24px, 700, 1, $primary-txt-color)
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding: 20px 43px;
		background-color: $primary-bg-color;

		&_p_15px_32px {
			padding: 15px 32px;
		}
	}
}