@import 'styles/utils/variables.scss';

.primary-page {
	display: flex;
	height: 100%;
	font-family: 'Nunito', sans-serif;

	&__container {
		width: 100%;
		margin-top: 72px;
		margin-left: 260px;
		padding: 20px 43px 43px 43px;

		overflow-y: scroll;
		background-color: $primary-bg-color;
	}
}