@import 'styles/utils/variables.scss';
@import 'styles/utils/mixins/index.scss';

.sidebar {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 260px;
	// margin-top: 73px;

	background-color: $second-accent-color;

	&__logo-wrapper {
		padding-left: 31px;
		padding-top: 13px;
		padding-bottom: 13px;

		border-bottom: 1px solid rgba($color: $second-text-color, $alpha: 0.08);
		background-color: $second-accent-color;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
	}

	&__title-wrapper {
		display: flex;
		align-items: center;
		padding: 36px 0px 17px 32px;

		border-bottom: 1px solid rgba($color: $second-text-color, $alpha: 0.08);
	}

	&__title {
		@include text(14px, 500, 1.4, $second-text-color);
		padding-left: 12px;
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		padding-left: 32px;

		&:hover,
		&:focus {
			background-color: rgba($color: $second-text-color, $alpha: 0.08);
		}

		&_active {
			background-color: rgba($color: $second-text-color, $alpha: 0.08);

			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 4px;
				height: 100%;

				background-color: $second-text-color
			}
		}
	}

	&__button {
		width: 100%;
		padding: 17px 17px 17px 0;
		padding-left: 12px;

		font-family: inherit;
		text-align: start;
		@include text(14px, 500, 1.4, $second-text-color);

		cursor: pointer;
		background-color: transparent;
		border: none;
	}

	&__logout-wrapper {
		display: flex;
		align-items: center;
		align-self: flex-start;
		padding-left: 32px;
		padding-bottom: 37px;
	}

	&__logout {
		@extend .sidebar__button;
	}
}