@import 'styles/utils/variables.scss';
@import 'styles/utils/mixins/index.scss';

.auth-page {
	position: relative;
	min-height: 100vh;

	font-family: 'Lexend', sans-serif;

	&__container {
		position: absolute;

		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__logo {
		display: block;
		margin: 0 auto;
		margin-bottom: 44px;
	}

	&__caption {
		text-align: center;
		margin-bottom: 32px;

		@include text(20px, 700, 1.6, $auth-second-text-color);
	}

	&__text {
		width: 376px;
		margin-bottom: 32px;

		text-align: start;
		@include text(19px, 400, 1.68, $auth-text-color );

		&_center {
			text-align: center;
		}
	}
}