@import 'styles/utils/variables.scss';
@import 'styles/utils/mixins/index.scss';

.student {
	position: relative;
	display: flex;
	height: 100%;

	font-family: 'Lexend', sans-serif;
	background-color: $primary-bg-color;


	&__container {
		position: relative;
		width: 100%;
		margin-top: 72px;
		padding: 75px 304px 20px 304px;
		overflow-y: scroll;
	}
}

.back-button {
	position: absolute;
	top: 63px;
	left: 32px;
	padding: 16px 48px;
	font-family: inherit;

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		@include text(16px, 500, 1.5, $primary-txt-color);

		&::before {
			content: '';
			display: block;
			width: 9px;
			height: 9px;

			transform: rotate(-45deg);
			border-top: 2px solid $auth-text-color;
			border-left: 2px solid $auth-text-color;
		}
	}
}