.not-found {
	&__title {
		margin-top: 40px;
		margin-bottom: 40px;
		font-weight: 700;
		font-size: 36px;
		line-height: 20px;
		letter-spacing: -0.36px;
	}

	&__text {
		opacity: 0.7;
		font-size: 16px;
		line-height: 18px;
		letter-spacing: -0.28px;
	}
}